*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.body{
    position: relative;
    height:100vh;
    width:100vw;
}
.signin-container {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 60px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .signin-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .signin-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0px auto;
    width:80%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signin-button:hover {
    background-color: #0056b3;
  }
  
  .signin-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 480px) {
    .signin-container {
      max-width: 100%;
      margin: 0 10px;
    }
  }
  
  