/*.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #6c757d;
    margin-top: 20px;
}

p {
    text-align: center;
    margin: 10px auto 30px;
    font-size: 1.2rem;
    max-width: 800px;
    color: #6c757d;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Add perspective */
    transition: transform 0.4s ease;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card-back {
    background-color: #2b2d42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-card-back h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.flip-card-back p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.flip-card-back .learn-more-btn {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.flip-card-back .learn-more-btn:hover {
    background-color: #ff4b47;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .flip-card {
        margin: 10px auto;
    }
}
